/* $Id */

/* Mobile first */
.ui-sortable {
    display: none;
}

fieldset.edoweb-facets {
    width: 100%;
}

fieldset.edoweb-entity-list {
    width: 100%;
}

fieldset.edoweb-entity-list-smart {
    width: 100%;
}

.edoweb-entity-list table td, th {
  display: none;
}

/*
.edoweb-entity-list {
  display: none;
}
*/

#header div.section, 
#navigation div.section,
featured div.section,
#messages,
#main,
#triptych,
#footer-columns,
#footer
 {
  min-width: 320px;
}


.edoweb-entity-list table td:nth-child(1),
.edoweb-entity-list table th:nth-child(1)
 {
    display: block; display: table-cell;
}

#edit-query-0-term {
    max-width: 60%;
}


@media only screen and (min-width: 600px) {

.ui-sortable {
    display: none;
}

fieldset.edoweb-facets {
    width: 100%;
}


fieldset.edoweb-entity-list {
    width: 100%;
}

fieldset.edoweb-entity-list-smart {
    width: 100%;
}

.edoweb-entity-list table th:nth-child(1),
.edoweb-entity-list table td:nth-child(1),
.edoweb-entity-list table th:nth-child(2),
.edoweb-entity-list table td:nth-child(2),
.edoweb-entity-list table th:nth-child(4),
.edoweb-entity-list table td:nth-child(4),
.edoweb-entity-list table th:nth-child(5),
.edoweb-entity-list table td:nth-child(5)
 {
    display: block; display: table-cell;
}



#header div.section, 
#navigation div.section,
featured div.section,
#messages,
#main,
#triptych,
#footer-columns,
#footer
 {
  min-width: 600px;
}


}

@media only screen and (min-width: 1024px) {

.ui-sortable {
    display: block;
}

fieldset.edoweb-facets {
    width: 20%;
    float: left;
}

fieldset.edoweb-entity-list {
    width: 75%;
    float: left;
}

fieldset.edoweb-entity-list-smart {
    width: 100%;
}

.edoweb-entity-list table th,
.edoweb-entity-list table td
 {
    display: block; display: table-cell;

}

.edoweb-entity-list table td:nth-child(6),
.edoweb-entity-list table th:nth-child(7),
.edoweb-entity-list table td:nth-child(7),
.edoweb-entity-list table th:nth-child(8),
.edoweb-entity-list table td:nth-child(8)
 {
    word-wrap: break-word;
    word-break: break-all;
}

#header div.section, 
#navigation div.section,
featured div.section,
#messages,
#main,
#triptych,
#footer-columns,
#footer
 {
  min-width: 1024px;
}


}

@media only screen and (min-width: 1280px) {

.ui-sortable {
    display: block;
}

fieldset.edoweb-facets {
    width: 20%;
    float: left;
}

fieldset.edoweb-entity-list {
    width: 75%;
    float: left;
}

fieldset.edoweb-entity-list-smart {
    width: 100%;
}

.edoweb-entity-list table th,
.edoweb-entity-list table td
 {
    display: block; display: table-cell;
}

.edoweb-entity-list table td:nth-child(6),
.edoweb-entity-list table th:nth-child(7),
.edoweb-entity-list table td:nth-child(7),
.edoweb-entity-list table th:nth-child(8),
.edoweb-entity-list table td:nth-child(8)
 {
    word-wrap: normal;
    word-break: normal;
}

#header div.section, 
#navigation div.section,
featured div.section,
#messages,
#main,
#triptych,
#footer-columns,
#footer
 {
  min-width: 1280px;
}


}


body, input, label, .fieldset-legend, .ui-widget {
	font-family: 'Signika', 'Droid Sans', 'PT Sans', helvetica, arial,
		sans-serif;
	line-height: 1.3em;
}

.fieldset-legend {
	font-weight: 600;
	text-shadow: none;
}

a {
	color: #871d33;
}

input.form-submit, button {
	border-radius: 7px;
	box-shadow: 0px 0px 6px #cccccc;
}

input.form-submit:hover, input.form-submit:focus, button:hover, button:focus
	{
	background: #dedede;
	box-shadow: 0px 0px 6px #ff9933;
}

input.form-submit, button {
	background: url("../images/buttons.png") repeat-x scroll 0px 0px #FFF;
	border-width: 1px;
	border-style: solid;
	border-color: #E4E4E4 #D2D2D2 #B4B4B4;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	color: #3A3A3A;
	cursor: pointer;
	font-size: 0.929em;
	font-weight: normal;
	text-align: center;
	margin-bottom: 1em;
	margin-right: 0.6em;
	padding: 4px 17px;
	border-radius: 7px;
	font-family: "Signika", "Droid Sans", "PT Sans", helvetica, arial,
		sans-serif;
}

a:hover {
	color: #ff9933;
}

.region-header .block {
	float: right; /* LTR */
	font-size: 1.0em;
	margin: 0 15px;
	padding: 0;
	width: 43.5%;
}

.region-header .block-menu {
	width: 43.5%;
}

.region-header #block-user-login .item-list li {
	padding: 3px 5px 1px 0; /* LTR */
}

#search-form input#edit-keys, #block-search-form .form-item-search-block-form input
	{
	width: 70%;
}

div.field {
	clear: both;
	/*padding-bottom: 0.5em;*/
}

div.field .field-label {
	display: block;
	float: left;
	width: 12em;
}

div.field .field-item {
	display: block;
	margin-left: 12em;
}

div.field .field-item[property="content:encoded"] {
	margin-left: 0em;
}

div.field>table {
	display: block;
	margin: 0;
	padding-bottom: em;
}

input[readonly="readonly"] {
	background-color: #efefef;
}

div.item-list>ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

td {
	max-width: 30em;
	font-weight: 400;
}


td .item-list ul li a {
  word-wrap: break-word;
}

table:not ([tableheader-processed] ) th {
	background-repeat: no-repeat;
	background-position: right;
}

table:not ([tableheader-processed] ) th:hover {
	text-decoration: underline;
	cursor: pointer;
}

table:not ([tableheader-processed] ) th.headerSortDown {
	background-image: url('/misc/arrow-desc.png');
}

table:not ([tableheader-processed] ) th.headerSortUp {
	background-image: url('/misc/arrow-asc.png');
}

table h1 {
	font-size: 1.2em;
	font-weight: 400;
	margin-top: 3px;
}


#block-edoweb-edoweb-search-block {
	text-align: right;
}

ul.edoweb-facets-active>li {
	background-color: #ff9933;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 2px;
	margin-left: 0px;
	margin-bottom: 5px;
	color: #fff;
	box-shadow: 1px 1px 6px #b4b4b4;
}

ul.edoweb-facets-active>li>a {
	color: #fff;
}

ul.edoweb-facets-available>li>span {
	color: #000;
}

ul.edoweb-facets-available>li {
	border-bottom: 1px dotted #dbdbdb;
	font-size: 1.0em;
}

ul.edoweb-facets-available>li span {
	font-size: 0.8em;
}

ul.edoweb-facets-available a {
	color: #871d33;
	word-wrap: break-word;
	word-break: break-all;
}

ul.edoweb-facets-available a:hover {
	color: #ff9933;
}

.item-list .title {
	font-weight: 400;
}

.item-list h3 {
	background-color: #dbdbdb;
	font-size: 1.1em;
}

.form-text:hover {
	box-shadow: inset 0px 0px 6px #ff9933;
}

.form-type-item {
	padding-bottom: 5px;
	width: 95%;
}

.form-type-item a[data-bundle], #edoweb-tree-menu a[data-bundle] {
	margin: 0px;
	padding-left: 10px;
	font-size: 1.0em;
	top: 10px;
}

.form-type-item a[data-bundle] {
	float: right;
}

.toggleButton {
	float: right;
	cursor: pointer;
}

.edoweb-tree li>a {
	color: #3b3b3b;
}

.edoweb-tree li.active>a {
	font-weight: bold;
}

.edoweb-tree div.item-list {
	padding-left: 1.1em;
}

.edoweb-tree .edoweb-tree-toolbox>a {
	padding-left: 0.3em;
	padding-right: 0.3em;
}

.edoweb-tree-clipboard-item {
	padding: 0.3em;
	margin: 0.3em;
}

.edoweb-tree-clipboard-item span.octicon {
	float: right;
	cursor: pointer;
}

.edoweb-tree {
	white-space: nowrap;
}

.edoweb-tree .edoweb-mimetype {
	height: 1.1em;
}

.edoweb-tree-cut-item {
	opacity: .5;
}

.edoweb-tree-insert {
	color: green;
}

.edoweb-mimetype {
	height: 2em;
}

.edoweb-tree-clipboard-item {
	background-color: #ff9933;
}

#edoweb-tree-menu {
	margin-bottom: 1.1em;
}

.one-sidebar #content {
	width: auto;
	min-width: 30em;
	max-width: 60em;
}

#sidebar-first {
	width: auto;
	min-width: 10em;
	may-width: 20em;
}

.sidebar .block {
	background-color: white;
	border: none;
}

.thumb img {
	box-shadow: 3px 3px 7px #666;
	width: 150px;
}

#content h2.title-suffix {
	padding: 5px;
	font-size: 1.0em;
	line-height: 1.4;
}

table h1.title, h2.title-suffix {
	display: inline;
}

/* restructure search field for EL */
form, #edoweb-basic-search-entities-form {
	margin-bottom: 30px;
}

#edoweb-basic-search-entities-form input.form-text, textarea.form-textarea,
	select.form-select {
	border: 1px solid #871d33;
	margin-right: 2px;
	float: left;
}

#edoweb-basic-search-entities-form div.form-type-checkbox {
	margin-bottom: 0.1em;
	margin-top: 0em;
}

/* css based reduced information set: get rid of unessessary fields */
.default .field-name-field-edoweb-title {
	display: none;
}

.field-name-field-edoweb-identifier-ht {
	display: none;
}

div.field.field-name-field-edoweb-struct-child.field-type-edoweb-ld-reference.field-label-above th
	{
	display: none;
}
.fileInfo .fileMimetype
	{
	display: none;
}
.fileInfo .fileSize
	{
	display: none;
}
.fileInfo .accessRights
	{
	display: none;
}

.fileInfo .accessRights
	{
	display: none;
}

.fileInfo .downloadUrl
{
 
}

.field-name-field-mab-710 .field-item{
float:left;
margin-left: 0em !important;
margin-right: 0.2em;
}

.field-name-field-mab-710 .field-items{
margin-left: 12em;
}

.field-name-field-edoweb-institution{
display: none;
}

.field-name-field-edoweb-collected-by{
display: none;
}

.item-list .edoweb.entity.compact.jquery-once-2-processed .title {
  display:none !important;
} 
 
.field-name-field-edoweb-datastream .field-label {
   display:none !important;
 }
 
.field-name-field-edoweb-struct-child .entity-label-file {
   display:none !important;
 }

.field-name-field-edoweb-identifier-ht{
        display: none;
}

/* hide all forms for object types not supported by edoweb */ 
.form-type-item a[data-bundle=researchData]{
    display: none;
}

.form-type-item a[data-bundle=volume]{
    display: none;
}

.form-type-item a[data-bundle=proceeding]{
    display: none;
}

.form-type-item a[data-bundle=issue]{
    display: none;
}

.form-type-item a[data-bundle=article]{
    display: none;
}

.form-type-item a[data-bundle=version]{
    display: none;
}

#edoweb-tree-menu a[data-bundle=researchData]{
    display: none;
}

#edoweb-tree-menu a[data-bundle=volume]{
    display: none;
}

#edoweb-tree-menu a[data-bundle=proceeding]{
    display: none;
}

#edoweb-tree-menu a[data-bundle=issue]{
    display: none;
}

#edoweb-tree-menu a[data-bundle=article]{
    display: none;
}

#edoweb-tree-menu a[data-bundle=version]{
    display: none;
}

#edoweb-basic-crawler-form .form-item{
display:block;
clear:both;
}

/* workaround for displaying notations, associated with notationWA.js */
.field-name-field-edoweb-rpb-subject .lbznotation {
margin-right:20px;
float:left;
min-width: 70px;
}

/* fix to prevent result-list from floating under the facets if result-list is to width for browser window */
/* html{
  box-sizing: border-box;
}
*,  ::before, ::after{box-sizing: inherit;}
*/


a[href*="regal"] span.octicon.octicon-link-external{
    display: none;
}
a[href^="http://dewey.info"] span.octicon.octicon-link-external{
    display: none;
}

table {
	font-size: 0.9em;
        font-family: 'Signika', 'Droid Sans', 'PT Sans', helvetica, arial,sans-serif;
        line-height: 1.3em;
	border-spacing: 0;
	border-collapse: collapse;
	padding-top: 0;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#example {
    width:auto;
    padding-left:20px;
}

table , tr, td {
    background-color:#ffffff;
    border-spacing: 0;
    border-collapse: collapse;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 2px;
    padding-left: 0px;
    margin:0;
}

#example tr, td, th {
padding-left:0px !important;
}
/* empty <p> tags occupy a lot of vertical space. Needs to be fixed in html view! */
tr ul li p {
    display: none;
}

ul, ol {
    list-style-type: none;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0;
    margin:0;
}
td {
    vertical-align:top;
}

th {
    display:none;    
}

#example .isDescribedBy , 
#example .primaryTopic ,
#example .itemID , 
#example .title, 
#example .hbzId, 
#example .contributorOrder, 
#example .fulltextOnline, 
#example .contributingCorporateBodyLabel,
#example .isPrimaryTopicOf,
#example .hasVersion,
#example .isLike,
#example .exemplar,
#example .subjectOrder,
#example .seeAlso,
#example .subjectLabel, 
#example .creator,
#example .contributor, 
#example .volume, 
#example .externalParent, 
#example .collectionOne, 
#example .accessScheme, 
#example .publishScheme, 
#example .contentType, 
#example .sameAs,
#example .describedby,
#example .parallelEdition, 
#example .hasItem, 
#example .doi,
#example .predecessor,
#example .successor,
#example .subjectAltLabel, 
#example .medium,
#example .note {
    display:none;
}

.field-label{
    font-weight:600;
}

#example td.field-item{
 width: 50em;
}

.public-access {
    position:relative;
} 
.public-access:before{
    color:green;
    content: "\f13e";
    font-family: FontAwesome;
    top:0;
    left:-5px;
    padding-right:10px;
}

.private-access {
    position:relative;
} 
.private-access:before{
    color:red;
    content: "\f023";
   font-family: FontAwesome;
    top:0;
    left:-5px;
    padding-right:10px;
}
.restricted-access {
    position:relative;
} 
.restricted-access:before{
    color:orange;
    font-family: FontAwesome;
    top:0;
    left:-5px;
    padding-right:10px;
    content: "\f023";
}

.downloadIcon img{
    vertical-align: bottom;
    width:20px;
}

.downloadIcon a,.downloadIcon div,.downloadIcon span,.downloadIcon img {
    display:inline-block;
}
td:empty {
  display:none;
}

tr.inSeries tr.rdftype, tr.inSeries td.numbering,tr.inSeries td.series {
    display:none;
}

/*tr.volumeIn tr.rdftype,tr.volumeIn td.numbering,tr.volumeIn td.multiVolumeWork {
    display:none;
}*/

#example .catalogLink a[title], #example .parallelEdition a[title], #example .webPageArchived a[title]{
   pointer-events: none;
   cursor: default;
   color:rgb(75, 75, 77);
}

#example .medium  a:not([title]), 
#example .rdftype a:not([title]), 
#example .language a:not([title]), 
#example .ddc a:not([title]), 
#example .reviewStatus a:not([title]), 
#example .publicationStatus a:not([title]), 
#example .rpbSubject a:not([title]) { 
display:none;                                                                                                                                                                             
}
                                                                                                                                                                                                                              
#example .medium .separator, 
#example .subject .separator, 
#example .rdftype .separator, 
#example .nwbibsubject .separator, 
#example .nwbibspatial .separator, 
#example .language .separator, 
#example .ddc .separator, 
#example .reviewStatus .separator, 
#example .publicationStatus .separator, 
#example .rpbSubject .separator {
  display:none;
}


.subjectChain{
white-space : nowrap;
}

#example ul,#example ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.subjectAltLabelList {
  display: inline;
  list-style: none;
  list-style-type: none;
    margin: 0;
    padding: 0;
}
.componentList , .subjectAltLabelList {
  display: inline;
  list-style: none;
  list-style-type: none;
    margin: 0;
    padding: 0;
}

.componentList li , .subjectAltLabelList li {
  display: inline;
}

.componentList li:after, .subjectAltLabelList li:after {
  content: ", ";
}

.componentList li:last-child:after, .subjectAltLabelList li:last-child:after{
    content: "";
}

#author-title-list{
  display: inline;
  list-style: none;
  list-style-type: none;
    margin: 0;
    padding: 0;
}
#author-title-list {
  display: inline;
  list-style: none;
  list-style-type: none;
    margin: 0;
    padding: 0;
}

#author-title-list li{
  display: inline;
}

#author-title-list li:after{
  content: "| ";
}

#author-title-list li:last-child:after {
    content: "";
}

.contribution tr td, .contribution tr th {
	margin: 0;
    padding: 0;
}

body[class^="entity-type"] div.form-item.form-type-item {
 display:none;
}


body.not-front div.form-item.form-type-item {
 display:none;
}

.hasPart td .field-item, #hasPartList, #hasPartList table, #hasPartList td, #hasPartList tr{
background-color:#efefef;
border-color:#efefef;
padding:0;
margin:0;
}

.publishSchemeSummary.public-access {
display:none;
}
